PILOT_MUNICIPALITY_ID=castel-bolognese
CORS_ALLOWED_ORIGINS=https://pilot.example.test
PILOT_BIND_ADDRESS=127.0.0.1
PILOT_PORT=8787
MIN_AGGREGATE_SAMPLE_SIZE=3
ANON_IDENTITY_SECRET_SOURCE=./secrets/anonymous_identity.txt
MODERATION_ADMIN_TOKEN_SOURCE=./secrets/moderation_admin.txt
